<div class="form-container">
  <h2 mat-dialog-title>Angular material dialog prompt</h2>
  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Address</mat-label>
        <textarea
          matInput
          placeholder="Address"
          formControlName="address"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" hintLabel="Country name required">
        <mat-label>Country</mat-label>
        <mat-select matNativeControl name="country" formControlName="country">
          <mat-option value="india">India</mat-option>
          <mat-option value="france">France</mat-option>
          <mat-option value="germany">Germany</mat-option>
          <mat-option value="japan">Japan</mat-option>
          <mat-option value="Mongolia">Mongolia</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="dialogRef.close(false)" color="primary">
      Close
    </button>
    <button mat-raised-button color="primary" (click)="submit(form.value)">
      Submit
    </button>
  </mat-dialog-actions>
</div>
